<div class="about-section">
    <h1>Hey There, Wanna Know about Us</h1>
    <p>Scroll blow to read about the developers</p>
    <p>For more interesting projects - Visit Git.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="cls">
    <img src="../../assets/dev.jpg" alt="Mohit" style="width:30%">
    <div class="container">
        <h2>Mohit Mohak</h2>
        <p class="title">Font-End Developer</p>
        <p>Keen interest in Angular app development.</p>
        <p>mohitmohak98@gmail.com</p>
        Links:
        <a href="https://github.com/mohitmohak">Git</a> &nbsp;
        <a href="https://www.linkedin.com/in/mohitmohak/">LinkeIn</a> &nbsp;
        <p><button class="button">Contact</button></p>
    </div>
</div>