<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand"><img src="../assets/icon.png" width="50px" height="100%"> Foodies-Logs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="read">Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="update">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

<footer class="abhi text-center mt-2">
    <p>&copy; Foodies-Logs 2021.<br>Developed By &lt;Mohit Mohak&gt;</p>
</footer>